version: "3.8"

services:
  registry:
    image: registry:2
    container_name: local-registry
    ports:
      - "5001:5000"
    volumes:
      - registry-data:/var/lib/registry

volumes:
  registry-data:

