apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: uptime-app-hpa
  namespace: uptime-dev
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: uptime-app
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60

